@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--
<video id="videoplayer" src="@Url.Content("~/video/movie.mp4")" controls width="450" height="450" loop />

<video width="320" height="240" controls autoplay="autoplay">
    <source src="@Url.Action("Index","Video")" type="video/mp4">
</video>
-->