@{
    ViewData["Title"] = "Home Page";
}

<div class="watchLeftColumn">

    <video class="videoPlayer" controls autoplay>
        <source src="https://videotubeblob.blob.core.windows.net/blobcontainer/video.mp4" type="video/mp4">
        <source src="https://videotubeblob.blob.core.windows.net/blobcontainer/video.ogg" type="video/ogg">
        <source src="https://videotubeblob.blob.core.windows.net/blobcontainer/video.webm" type="video/webm">
        Your browser doesn"t support HTML5 video.
    </video>

</div>

<div class="suggestions">

</div>


